POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ELASTICSEARCH_PASSWORD=your_elastic_password
ELASTICSEARCH_USER=elastic