POSTGRES__USER=your_postgres_user
POSTGRES__PASSWORD=your_postgres_password
POSTGRES__DB=your_postgres_db
POSTGRES__HOST=localhost
POSTGRES__PORT=5432

ELASTICSEARCH__HOST=localhost
ELASTICSEARCH__PORT=9200
ELASTICSEARCH__PASSWORD=your_elasticsearch_password
ELASTICSEARCH__USER=your_elasticsearch_user

SMB_SERVERS__0__NAME=smb_server_1
SMB_SERVERS__0__SHARE=localhost/share
SMB_SERVERS__0__USERNAME=your_smb_user
SMB_SERVERS__0__PASSWORD=your_smb_password
SMB_SERVERS__0__ANONYMOUS=False
SMB_SERVERS__0__MOUNT_POINT=/path/to/smb_mount

UPSTREAM_SMB__NAME=smb_server_1
UPSTREAM_SMB__SHARE=localhost/share
UPSTREAM_SMB__USERNAME=your_upstream_smb_user
UPSTREAM_SMB__PASSWORD=your_upstream_smb_password
UPSTREAM_SMB__MOUNT_POINT=/path/to/upstream_mount
UPSTREAM_SMB__ANONYMOUS=False

SAMBA_USERID=1000
SAMBA_GROUPID=1000
