POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__USER=your_postgres_user
POSTGRES__PASSWORD=your_postgres_password
POSTGRES__DB=your_postgres_db
ELASTICSEARCH__HOST=localhost
ELASTICSEARCH__PORT=9200
ELASTICSEARCH__PASSWORD=your_elastic_password
ELASTICSEARCH__USER=elastic